h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
    color: #d79921;
    padding: 0rem;
    margin: 0rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5em;
    /* font-weight: lighter; */
}

blockquote > h1,
blockquote > h2,
blockquote > h3,
blockquote > h4,
blockquote > h5,
blockquote > h6 {
    font-size: 1rem;
    color: #d79921;
    padding: 0rem;
    margin: 0rem;
    /* margin-bottom: 1.5rem; */
}

h1::before {
    content: "# ";
    color: #fb492f;
}

h2::before {
    content: "## ";
    color: #fb492f;
}

h3::before {
    content: "### ";
    color: #fb492f;
}

h4::before {
    content: "#### ";
    color: #fb492f;
}

h5::before {
    content: "##### ";
    color: #fb492f;
}

h6::before {
    content: "###### ";
    color: #fb492f;
}

blockquote {
    color: #4cacc4;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    line-height: 1.5rem;
    float: none;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    padding-left: 1.25rem;
    overflow: hidden;
}

blockquote > blockquote {
    margin: 0;
}

blockquote:after {
    color: #98971a;
    font-weight: bold;
    content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>";
    white-space: pre;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.5rem;
}

a {
    cursor: pointer;
    color: #ff2e88;
    text-decoration: none;
    border-bottom: 1px solid #ff2e88;
}

a:visited {
    color: #d19eb4;
    border-color: #d19eb4;
}

a:visited:hover {
    color: #fbf1c7;
    background-color: #d19eb4;
}

a:hover {
    background-color: #ff2e88;
    color: #fbf1c7;
}

::selection {
    background-color: #d19eb4;
    /* color: #FBF1C7; */
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

ul {
    padding: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

li {
    float: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    padding-left: 1.2rem;
    line-height: 1.5rem;
}

ul > li:after {
    content: "-";
    font-weight: bold;
}

li:after {
    position: absolute;
    top: 0;
    left: 0;
}
